.hidden {
  display: none;
}

.icon {
  margin-right: 1rem;
}

.no-sunsets {
  display: none;
}

.hide {
  display: none;
}

body {
  font-family: "Sedan SC", sans-serif;
}

.heading-container {
  display: flex;
  font-family: "Sedan SC", sans-serif;
  font-size: 24px;
  background-color: rgb(109, 229, 255);
  margin: 0 auto;
}

i {
  margin-top: 19px;
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
}

.instructions {
  margin-left: 1rem;
}

.column-full {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

input {
  font-size: 24px;
  border-radius: 7px;
}

.searchBtn {
  font-size: 24px;
  border-radius: 18px;
  background-color: rgb(250, 165, 0);
  color: white;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

.view {
  display: flex;
  justify-content: center;
}

.noSunsetsText {
  font-family: "Sedan SC", sans-serif;
  font-size: 20px;
}

h2 {
  font-size: 35px;
}

.newBtn {
  font-size: 24px;
  font-family: "Sedan SC", sans-serif;
  border-radius: 4px;
  background-color: rgb(250, 165, 0);
  color: white;
  cursor: pointer;
  margin-left: 30%;
  margin-right: 2rem;
}

.editBtn {
  background-color: rgb(250, 165, 0);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Sedan SC", sans-serif;
  font-size: 15px;
  margin-left: 54px;
}

.deleteBtn {
  background-color: rgb(250, 165, 0);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Sedan SC", sans-serif;
  font-size: 15px;
}

.dismiss-modal {
  background-color: rgb(250, 165, 0);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Sedan SC", sans-serif;
  font-size: 34px;
}

li {
  list-style-type: none;
}

img {
  width: 130px;
}

.colum-half {
  display: flex;
  justify-content: flex-end;
}

.adding-icon {
  position: relative;
  top: 106px;
}

a {
  flex-grow: 1;
  text-align: center;
}

h1 {
  flex-grow: 2;
  text-align: center;
}

#sunset-container {
  display: flex;
  justify-content: center;
}

#sunset-info {
  width: 23rem;
  padding: 0;
  border: solid 2px black;
  border-radius: 15px;
}

.addBtn {
  font-size: 18px;
  border-radius: 18px;
  background-color: rgb(250, 165, 0);
  color: white;
  cursor: pointer;
  font-family: "Sedan SC", sans-serif;
}

.sunriseApi,
.sunsetApi {
  margin-top: -23px;
}

ul {
  padding-left: 0;
}

.favoritesList > li {
  margin-top: 10px;
  border: solid 2px black;
  border-radius: 15px;
  padding: 0;
  width: 23rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
}

.modal-heading {
  padding: 0;
}

.favorite-sunset-header {
  padding-left: 2rem;
}
